services:
  app:
    container_name: dsa-study-hub
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    env_file:
      - ./server/.env
    environment:
      - PORT=5000
      - NODE_ENV=production
    restart: always

